* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
  }

  .header-logo {
    position: relative;
    background: #361D07;
    display: flex;
    align-items: center;
  }

  .header-logo1 {
    padding-left:40px;
    padding-right: 20px;
    opacity: 0.6;
  }  
  
  .header-logo2{
    padding-left:20px;
    border-left: 2px solid #ffffff;
    opacity: 0.6;
  } 

  .header-logo1:hover {
    opacity: 1;
  }

  .header-logo2:hover {
    opacity: 1;
  }

  .header-contact {
    position: absolute;
    left: 90%;
    font-size: 16px;
    text-decoration:none;
    color: #ffffff;
    top: 18px;
    font-family: sans-serif;
  }

  .menu {
    background-color: #F1EFE2;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .menu-nav {
    list-style: none;
    display: flex;
    margin: auto 0;
  }

  .menu-nav a {
    text-decoration: none;
    color: #361D08;
    font-family: sans-serif;
  }
  
  .menu-nav li {
    padding: 16px 24px;
    text-decoration:none;
    font-size:20px;
  }

  .menu-logo {
    margin: 24px 40px;
  }

  .menu-search {
    display: flex;
    margin: auto 0;
    height: 41px;
  }

  .menu-search-input {
    width: 350px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    padding-left: 16px;
    font-size: 17px;
  }

  
  .header-text {
    background-color: #808054;
    color:#ffffff;
    display: flex;
    justify-content: center;
    font-size: 55px;
    height: 226px;
    align-items: center;
    font-family: serif;
    font-weight: bold;
  }

  .main {
    margin: 0;
    box-sizing: border-box;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  
  .tabs_label {
    padding: 10px 16px;
    cursor: pointer;
    opacity: 0.8;
    background-color: #ffffff;
  }

  .tabs_label:hover {
    opacity: 1;
    background-color: #80805447;
  }
  
  .tabs_radio {
    display: none;
  }
  
  .tabs_content {
    order: 1;
    width: 100%;
    line-height: 1.5;
    font-size: 19px;
    display: none;
    border-top: 1px solid #000000;
    text-align: center;
  }

  .tabs_content h1 {
    padding: 40px 0;
  }

  #learn-content {
    padding: 0 15% 50% 15%;
    font-size: 20px;
    text-align: justify;
  }
  
  .tabs_radio:checked + .tabs_label {
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #000000;
  }
  
  .tabs_radio:checked + .tabs_label + .tabs_content {
    display: initial;
  }

  .product-lists {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
  }

  .product-image {
    display: block;
    overflow:hidden;
  }

  .product-image img:hover {
    transform: scale(1.09);
    transition: transform 0.1s linear;
  }

  .product-title {
    margin: 0 40px;
  }
  .product-title a{
    text-decoration: none;
    font-size:20px;
    color: #361D08;
  }

  .product-buy {
    margin: 20px 70px 60px 70px;
    padding:7px 0;
    border: 1px solid #000000;
    border-radius: 50px;
    background: #ffd457;
  }

  .product-buy a {
    font-size: 18px;
    color:#361D08;
    text-decoration: none;
  }

  .product-buy:hover {
    transform: scale(1.09);
    transition: transform 0.1s linear;
  }

  .footer {
    background: #361D08;
  }

  .footer-main {
    display: flex;
    justify-content: space-around;
    color: white;
    line-height: 2em;
  }

  .footer-logo {
    margin:50px 0;
  }
  .footer-logo img {
    padding-left:33px;
  }
  .footer-logo h2 {
    font-size: 39px;
    text-align: center;
    padding: 32px 0;
  }

  .footer-logo a {
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #ffd357;
    background: #ffd357;
    padding:16px 32px;
    border-radius: 50px;
    font-family: serif;
    font-weight: bold;
    color:#361D07;
  }

  .footer-about {
    margin:50px 0;
    font-family: sans-serif;
  }

  .footer-about a {
    text-decoration: none;
    font-size:16px;
    color: #FFFFFF;
  }

  .footer-about ul {
  list-style: none;
  }
  
  .footer-about a:hover {
    text-decoration: underline;
  }

  .footer-helpful {
    margin:50px 0;
    font-family: sans-serif;
  }

  .footer-helpful a {
    text-decoration: none;
    font-size:16px;
    color: #FFFFFF;
  }

  .footer-helpful ul {
    list-style: none;
  }
  
  .footer-helpful a:hover {
    text-decoration: underline;
  }

  .footer-social {
    margin:50px 0;
    font-family: serif;
  }

  .footer-legal ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }

  .footer-legal a {
    font-size: 12px;
    text-decoration: none;
    color: #FFFFFF
  }

  .footer-legal a:hover {
    text-decoration: underline;
  }

  .footer-end {
    text-align: center;
    padding: 15px 0 100px 0;
    font-size: 16px;
    font-family: sans-serif;
    color: #FFFFFF;
  }

  @media (max-width: 1200px) {
    .menu-nav {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .header-contact{
      margin-top: 10px;
      text-align: center;
    }
  
    .menu-nav li {
      padding: 16px 12px;
      font-size: 18px;
    }
  
    .menu-search-input {
      width: 250px;
    }
  
    .tabs_content {
      font-size: 18px;
    }
  
    .product-lists {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .footer-main {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .footer-logo img {
      width: 80%;
    }
  
    .footer-about,
    .footer-helpful,
    .footer-social {
      margin: 30px 20px;
    }
  
    .footer-legal ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .header-logo {
      align-items: flex-start;
      padding: 13px;
    }
  
    .header-contact {
        margin-top: 10px;
      margin-left:-100px;
    }
  
    .menu {
        flex-direction: column;
    }
  
    .menu-nav li {
      padding: 5px 20px;
      font-size: 18px;
    }
    
    .menu-search{
        width: 100%;
    }
    .menu-search-input {
      width: 100%;
    }
  
    .header-text {
      font-size: 40px;
      height: auto;
      padding: 20px 0;
      text-align: center;
    }
  
    .tabs {
      flex-direction: column;
    }
  
    .tabs_label {
      width: 100%;
      text-align: center;
    }
  
    .product-lists {
      grid-template-columns: 1fr 1fr;
    }
  
    .footer-main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footer-legal ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  }
  
  @media (max-width: 480px) {
    .header-logo1,
    .header-logo2 {
      padding: 10px;
    }
    .header-contact {
        margin-left:-100px;
    }
    .menu-nav {
        flex-direction: column;
        text-align: center;
    }
    .menu-nav li {
      font-size: 16px;
    }
  
    .header-text {
      font-size: 30px;
    }
  
    .tabs_content {
      font-size: 16px;
    }
  
    .product-lists {
      grid-template-columns: 1fr;
    }
  
    .product-title a {
      font-size: 18px;
    }
  
    .footer-legal ul {
      flex-direction: column;
    }
  
    .footer-legal a {
      font-size: 14px;
    }
  
    .footer-end {
      font-size: 14px;
    }
  }
  